@font-face{
    font-family: 'Plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'main';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

html{
    font-family: 'main';
}
/*_________________________________________________________________________________________________________________________________________________________________________*/
@media only screen and (min-width: 0px){

    body{
        margin: 0px;
        font-family: 'main';
    }

    /*header nav stuff_____________________________________________*/
    .headerNav{
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: whitesmoke;
        height: 50px;
        font-size: 0.5em;
        margin: 0px;
        box-shadow: black 10px 0px 20px;
    }
    
    .headerNav img{
        float: left;
        display: block;
        height: 100%;
        width: 25%;
    }

    .headerNav > a > img:hover, .headerNav > a > img:active{
        opacity: 0.7;
        transition: 300ms;
    }
    
    .headerNav ul{
        margin: 0px;
    }

    .headerNav ul li{
        float: left;
        list-style: none;
        display: block;
        margin: 10px;
    }
    
    .headerNav a{
        text-decoration: none;
    }
    
    .headerNav a:active, .headerNav ul li a:hover{
        color: #f90;
        background-color: rgb(233, 231, 231);
        border-radius: 3px;
        transition: 300ms;
    }
    
    .headerNav a:link, .headerNav a:visited{
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 150ms;
    }

    .headerNav a:active, .headerNav ul li a:hover{
        color: #f90;
        background-color: rgb(233, 231, 231);
        border-radius: 3px;
        transition: 300ms;
    }

    .headerNav a:link, .headerNav a:visited{
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 150ms;
    }

    /*sub menu stuff_______________________________________________*/

    li{
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }

    ul li ul{
        background: whitesmoke;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5 ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover > ul, ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }

    /*iframe_____________________________________________________________*/

    .mapouter{
        margin: 0px;
    }

    iframe{
        width: 100%;
        height: 500px;
    }

    /*body_______________________________________________________________*/

    .body{
        width: 100%;
        background: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .L1 a, .L2 a, .L3 a, .L4 a, .L1 a:visited, .L2 a:visited, .L3 a:visited, .L4 a:visited{
        margin: 0px;
        text-decoration: none;
        color: black;
    }

    .L1 a:active, .L2 a:active, .L3 a:active, .L4 a:active, .L1 a:hover, .L2 a:hover, .L3 a:hover, .L4 a:hover{
        margin: 0px;
        text-decoration: none;
        color: #f90;
        
    }

    /*L1_________________________________________________________________*/

    .L1{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*L2_________________________________________________________________*/

    .L2{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*L3_________________________________________________________________*/

    .L3{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    /*L4_________________________________________________________________*/

    .L4{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    /*footer stuff_______________________________________________________*/
    footer{
        text-align: center;
        clear: both;
        font-size: 7px;
        border-radius: 10px;
        background-color: darkgray;
        box-sizing: border-box;
    }
    
    footer ul li{
        list-style: none;
        display: inline;
        padding-right: 20px;
    }

}
/*_________________________________________________________________________________________________________________________________________________________________________*/
@media only screen and (min-width: 768px){

    body{
        margin: 0px;
        font-family: 'main';
    }

    /*header nav stuff_____________________________________________*/
    .headerNav{
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: whitesmoke;
        height: 100px;
        font-size: 1.2em;
        margin: 0px;
        box-shadow: black 10px 0px 20px;
    }
    
    .headerNav img{
        float: left;
        display: block;
        height: 100%;
        width: 25%;
    }

    .headerNav > a > img:hover, .headerNav > a > img:active{
        opacity: 0.7;
        transition: 300ms;
    }
    
    .headerNav ul{
        margin: 0px;
    }

    .headerNav ul li{
        float: left;
        list-style: none;
        display: block;
        margin: 20px;
    }
    
    .headerNav a{
        text-decoration: none;
    }
    
    .headerNav a:active, .headerNav ul li a:hover{
        color: #f90;
        background-color: rgb(233, 231, 231);
        border-radius: 3px;
        transition: 300ms;
    }
    
    .headerNav a:link, .headerNav a:visited{
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 150ms;
    }

    .headerNav a:active, .headerNav ul li a:hover{
        color: #f90;
        background-color: rgb(233, 231, 231);
        border-radius: 3px;
        transition: 300ms;
    }

    .headerNav a:link, .headerNav a:visited{
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 150ms;
    }

    /*sub menu stuff_______________________________________________*/
    ul{
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    li{
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }

    ul li ul{
        background: whitesmoke;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5 ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover > ul, ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }

    /*iframe_____________________________________________________________*/

    .mapouter{
        margin: 0px;
    }

    iframe{
        width: 100%;
        height: 500px;
    }

    /*body_______________________________________________________________*/

    .body{
        width: 100%;
        background: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .L1 a, .L2 a, .L3 a, .L4 a, .L1 a:visited, .L2 a:visited, .L3 a:visited, .L4 a:visited{
        margin: 0px;
        text-decoration: none;
        color: black;
    }

    .L1 a:active, .L2 a:active, .L3 a:active, .L4 a:active, .L1 a:hover, .L2 a:hover, .L3 a:hover, .L4 a:hover{
        margin: 0px;
        text-decoration: none;
        color: #f90;
        
    }

    /*L1_________________________________________________________________*/

    .L1{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*L2_________________________________________________________________*/

    .L2{
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*L3_________________________________________________________________*/

    .L3{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*L4_________________________________________________________________*/

    .L4{
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*footer stuff_______________________________________________________*/
    footer{
        text-align: center;
        clear: both;
        font-size: 20px;
        border-radius: 10px;
        background-color: darkgray;
        box-sizing: border-box;
    }
    
    footer ul li{
        list-style: none;
        display: inline;
        padding-right: 20px;
    }

}
/*_________________________________________________________________________________________________________________________________________________________________________*/
@media only screen and (min-width: 992px){

    body{
        margin: 0px;
        font-family: 'main';
    }

    /*header nav stuff_____________________________________________*/
    .headerNav{
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: whitesmoke;
        height: 100px;
        font-size: 2em;
        margin: 0px;
        box-shadow: black 10px 0px 20px;
    }
    
    .headerNav img{
        float: left;
        display: block;
        height: 100%;
        width: 25%;
    }

    .headerNav > a > img:hover, .headerNav > a > img:active{
        opacity: 0.7;
        transition: 300ms;
    }
    
    .headerNav ul{
        margin: 0px;
    }

    .headerNav ul li{
        float: left;
        list-style: none;
        display: block;
        margin: 20px;
    }
    
    .headerNav a{
        text-decoration: none;
    }
    
    .headerNav a:active, .headerNav ul li a:hover{
        color: #f90;
        background-color: rgb(233, 231, 231);
        border-radius: 3px;
        transition: 300ms;
    }
    
    .headerNav a:link, .headerNav a:visited{
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 150ms;
    }

    .headerNav a:active, .headerNav ul li a:hover{
        color: #f90;
        background-color: rgb(233, 231, 231);
        border-radius: 3px;
        transition: 300ms;
    }

    .headerNav a:link, .headerNav a:visited{
        color: rgb(0, 0, 0);
        background-color: whitesmoke;
        border-radius: 3px;
        transition: 150ms;
    }

    /*sub menu stuff_______________________________________________*/
    ul{
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    li{
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }

    ul li ul{
        background: whitesmoke;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5 ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover > ul, ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }

    /*iframe_____________________________________________________________*/

    .mapouter{
        margin: 0px;
    }

    iframe{
        width: 100%;
        height: 500px;
    }

    /*body_______________________________________________________________*/

    .body{
        width: 100%;
        background: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .L1 a, .L2 a, .L3 a, .L4 a, .L1 a:visited, .L2 a:visited, .L3 a:visited, .L4 a:visited{
        margin: 0px;
        text-decoration: none;
        color: black;
    }

    .L1 a:active, .L2 a:active, .L3 a:active, .L4 a:active, .L1 a:hover, .L2 a:hover, .L3 a:hover, .L4 a:hover{
        margin: 0px;
        text-decoration: none;
        color: #f90;
        
    }

    /*L1_________________________________________________________________*/

    .L1{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*L2_________________________________________________________________*/

    .L2{
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*L3_________________________________________________________________*/

    .L3{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*L4_________________________________________________________________*/

    .L4{
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /*footer stuff_______________________________________________________*/
    footer{
        text-align: center;
        clear: both;
        font-size: 20px;
        border-radius: 10px;
        background-color: darkgray;
        box-sizing: border-box;
    }
    
    footer ul li{
        list-style: none;
        display: inline;
        padding-right: 20px;
    }

}